body { 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 1em; 
  color: #545252; 
  position: relative;
  margin: 0 auto;
  background-color: rgb(237,237,237);
}

#wrapper {
  width: 1060px;
  margin: 0 auto;
  z-index: 1;
}



#content {
  top: 50px;
}
/* NAVBAR */
header {
  border-bottom: 1px solid rgb(226,226,226);  
  width: 100%;
  height: 49px;
  position: fixed;
  z-index: 4;
  background-color: white;
}

input {
  width: 600px;
  height: 24px;
  vertical-align: top;
  margin-left: 103px;
  position: relative;
  top: 10px;
}

#searchicon {
  height: 28px;
  border: gainsboro solid 1px;
  margin-left: 0;
  position: fixed;
  top: 10px;
  border-radius: 2px;

}

#navlist {
  display: inline;
  list-style: none;
  position: relative;
  float: right;
  margin-top: 10px;
  top: 5px;
}

#logo {
  height: 41px;
  margin-top: 8px;
  margin-left: 10px

}

li {
  display: inline;
  border: gainsboro solid 1px;
  background-color: rgb(246,246,246);
  font-size: 10px;
  margin-right: 14px;
  vertical-align: top;
  border-radius: 2px;
  padding: 3px 7px 12px 8px;
}

#signup {
  background-color: rgb(24,111,193);
  color: white;
  border: gainsboro solid 1px;
}


/* VIDEO PLAYER */
.player {
  position: relative;
  display: inline-block;
  
}

iframe {
  margin-top: 62px;
  background-color: gainsboro;
  margin-left: -100px;
}

/* COMMENTS */
.comments {
  background-color: white;
  width: 850px;
  height: 171px;
  margin-left: -100px;
  margin-top: 8px;
}

/* SIDEBAR */

.sidebar {
  float: right;
  width: 300px;
  height: 876px;
  margin-top: 62px;
}