/* NAVBAR */
header {
  border-bottom: gray solid 1px;
  height: 41px;
}

input {
  width: 600px;
  height: 24px;
  vertical-align: top;
  margin-left: 47px;
}

#searchicon {
  height: 27px;
  border: gray solid 1px;
  margin-left: -4px;
  margin-bottom: 20px;

}

#navlist {
  display: inline-block;
  list-style: none;
}


/* VIDEO PLAYER */
.player {
  background-color: blue;
  width: 200px;
  height: 200px;
}

/* COMMENTS */
.comments {
  background-color: black;
  width: 200px;
  height: 200px;
}

/* SIDEBAR */

.sidebar {
  background-color: green;
  width: 200px;
  height: 200px;
}